---
// Components
import Header from "../components/Header.astro";

// Canonical URL - Helps search engines to index the correct URL and avoid duplicate content
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Props
const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="generator" content={Astro.generator}>

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">

		<!-- Preload fonts for performance -->
		<link rel="preload" href="/fonts/Iosevka/IosevkaNerdFont-Regular.ttf" as="font" type="font/truetype" crossorigin="anonymous">

		<!-- Canonical URL - Helps search engines to index the correct URL and avoid duplicate content -->
		<link rel="canonical" href={canonicalURL}>

		<!-- Website title and description -->
		<meta name="title" content={title}>
		<meta name="description" content={description}>
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<hr>

		<!-- Our code inserted here -->
		<slot>
	</body>
</html>
